.promptContainer {
  margin-bottom: 300px;
}

input {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background-color: black;
  color: white;
  border: 0;
  font-size: 12pt;
  width: 90%;
  padding: 0px;
}

input:focus {
  outline: none;
}
